
<div id="footer"><p>
<ul class="menu">
<li><%= link_to t("Werkwijze"), "/" + locale.to_s + "/24" %></li>
<li><%= link_to t("Verzending"), "/" + locale.to_s + "/25" %></li>
<li><%= link_to t("Betalingen"), "/" + locale.to_s + "/26" %></li>
<li><%= link_to t("FAQ"), "/" + locale.to_s + "/28" %></li>
<li><%= link_to t("Algemene voorwaarden"), "/" + locale.to_s + "/23" %></li>
<li><%= link_to t("Disclaimer"), "/" + locale.to_s + "/22" %></li>
<li class="last"><%= link_to t("Contact"), "/" + locale.to_s + "/14" %></li><br>
</ul>
<div class="dywfooter"><%= t('.copyright', :year => Time.now.year,
                      :site_name => '') %> <%= link_to "dreamyourweb", "http://www.dreamyourweb.com" %>
</div>


</p></div>
